*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{font-family: "Roboto", sans-serif;}
a{text-decoration: none;}
li{list-style: none;}

/* Navbar */
.navbar{
    width: 100%;
    max-width: 1600px;
    margin:auto;
    right: 0;left: 0;
    top: 0;
    height: 75px;
    padding: 0px 120px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}
.nav-logo{
    height: 55px;
}
.navbar ul{
    display: flex;
    gap: 50px;  
}
.navbar ul li a{
    font-size: 16px;
    color: #000000;
}
.navbar ul li a:hover{
    color: #30B868;
}
.btn{
    padding: 12px 16px;
    border-radius: 5px;
    background-color: #30B868;
    color: #ffffff;
    border: 1px solid transparent;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.btn:hover{
    box-shadow: 2px 5px 10px #30B868;
    border: 1px solid #ffffff;
}
/* Hero Section */
.banner{
    width: 100%;
    height: 660px;
    margin-top: 75px;
    padding: 70px 134px 120px;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.E-open{
    background-color: #ffffff;
    color: #30B868;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.banner h1{
    font-size: 65px;
    text-transform: capitalize;
    text-align: center;
    color: #ffffff;
    line-height: 80px;
}
.banner h1 span{
    color: #30B868;
}
.banner .info{
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    font-weight: 300;
    color: #ffffff;
}
.btn-gp{
    display: flex;
    gap: 15px;
}
.btn2{
    background-color: transparent;
    border: 1px solid #ffffff;
}
/* Notes Section */
.notes{
    width: 100%;
    height: 570px;
    background-color: #fafafa;
    padding: 50px 120px 120px 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.notes h1{
    font-size: 48px;
    margin-bottom: 15px;
}
.notes p{
    font-weight: 300;
    color: #627382;
}
.card-gp{
    display: flex;
    margin-top: 50px;
    gap: 20px;
}
.card{
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    box-shadow: 0 0 8px #00000011;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.card span{
    height: 60px;
    width: 60px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card h2, .card p{
    text-align: center;
}

/* Knowledge Section */
.knowledge{
    width: 100%;
    height: 820px;
    padding: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.knowledge img{
    height: 600px;
}
.text-box .title{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #30B868;
}
.text-box h1{
    font-size: 48px;
    margin: 10px 0;
}
.text-box p{
    font-size: 16px;
    font-weight: 350;
    color: #627382;
    margin: 20px 0 40px 0;
}
.text-box span{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}
.text-box span img{
    height: 20px;
}

/* early access section */
.early-access{
    width: 100%;
    height: 500px;
    padding: 0 120px 120px 120px;
}
.access-box{
    width: 95%;
    height: 380px;
    background-color:#f7f6f2 ;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.access-box h1{
    font-size: 40px;
}
.access-box p{
    font-size: 16px;
    font-weight: 350;
    color: #627382;
    text-align: center;
    line-height: 25px;
}

